<!--<app-diretivas-ngif></app-diretivas-ngif>-->
<!--<app-diretivas-ng-for></app-diretivas-ng-for>-->
<!--<app-diretivas-ng-switch></app-diretivas-ng-switch>-->
<!--<app-diretivas-ng-class></app-diretivas-ng-class>-->
<!--<app-diretivas-ng-style></app-diretivas-ng-style>-->
<!--<app-operador-elvis></app-operador-elvis>-->
<app-ng-content>
    <div class="titulo">
        Escola ABC
    </div>
    <div class="ngif">
    <app-diretivas-ngif></app-diretivas-ngif>
    </div>
    <div class="ngif">
        <hr>
    </div>
</app-ng-content>