<nav class="navbar navbar-dark bg-primary">
  
  <div class="nav navbar-nav">
    
    <a class="nav-item nav-link"          
    [class.active]="aba == 'home'"  
    (click)="aba = 'home'">Home</a>

    <a class="nav-item nav-item nav-link" 
    [class.active]="aba == 'cadastro'"  
    (click)="aba = 'cadastro'">Cadastro</a>

    <a class="nav-item nav-item nav-link" 
    [class.active]="aba == 'lista'" 
    (click)="aba = 'lista'">Lista</a>      
  </div>
</nav>

<div class="container" [ngSwitch]="aba">
    <div *ngSwitchCase="'home'">
        <p>Home</p>
    </div>

    <div *ngSwitchCase="'cadastro'">
       <p>Usuario: <input type="text"><br/></p>
       <p>Senha: <input type="password"><br/></p>
       <p>Confirmar: <input type="password"></p>
        <input type="button" value="Cadastrar">
    </div>

    <div *ngSwitchCase="'lista'">lista</div>
  
</div>

