<h5 [style.fontSize]="tamanhoFonte + 'px'"
    >Styles com property binding</h5>
<button
    [ngStyle]="{
        'backgroundColor': (ativo ? 'blue' : 'gray'),
        'color':(ativo ? 'white' : 'black'),
        'fontWeight':(ativo ? 'bold' : 'normal'),
        'fontSize':(tamanhoFonte + 'px')
    }"(click)="mudarAtivo()"
>Mudar atributo 'ativo'</button>
<input [ngStyle]="{fontSize: tamanhoFonte + 'px'}"
 type="text" [(ngModel)]="trocaFonte">
<button [ngStyle]="{fontSize: tamanhoFonte + 'px'}"
 (click)="MtrocaFonte()"> Mudar Fonte</button>

